.logo {
    margin-right: 90px;
}

.logo-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}


.logo-link-first {
    color: var(--accent-color);
}

.logo-link-header {
    color: var(--text-black);
}

.logo-link-footer {
    color: var(--text-white);
}